INCLUDE("app_common.cfg");

#include "app.h"

CRE_TSK( MAIN_TASK, { TA_NULL, 0, main_task,  MAIN_PRIORITY, STACK_SIZE, NULL } );
CRE_CYC( CYC0, { TA_STA, { TNFY_ACTTSK, MAIN_TASK }, 200U * 1000U, 1});

ATT_MOD("app.o");
ATT_MOD("util.o");
ATT_MOD("timer_ex.o");
ATT_MOD("horn.o");
ATT_MOD("train_checker.o");
ATT_MOD("train_detector.o");
ATT_MOD("manual_switch.o");
ATT_MOD("warning_light.o");
ATT_MOD("railroad_crossing.o");
